name: My Workflow
on :
  workflow_dispatch

jobs:
  runMultipleCommands:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1
     - run: |
        echo "A initial message"
        whoami
        echo "Another message or command"
        sudo apt update -y
        sudo apt upgrade -y
        echo $LOGNAME
        sudo apt-get install sbuild schroot debootstrap apt-cacher-ng devscripts piuparts && sudo sbuild-adduser $LOGNAME
        sudo cp .sbuildrc ~/
        sudo sbuild-createchroot --include=eatmydata,ccache unstable /srv/chroot/unstable-amd64-sbuild http://ftp.us.debian.org/debian
     - run: echo "One last message"
