name: My Workflow
on :
  workflow_dispatch

jobs:
  runMultipleCommands:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1
     - run: |
        echo "A initial message"
        whoami
        echo "Another message or command"
        sudo apt update -y
        sudo apt upgrade -y
        sudo apt-get install sbuild schroot debootstrap apt-cacher-ng devscripts piuparts && sbuild-adduser $LOGNAME
     - run: echo "One last message"
