name: My Workflow
on :
  workflow_dispatch
jobs:
  runMultipleCommands:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v1
     - run: |
        sudo apt update -y
        sudo apt upgrade -y
        sudo apt-get install sbuild schroot debootstrap apt-cacher-ng devscripts piuparts debian-archive-keyring debian-keyring
        sudo cp --verbose .sbuildrc ~/
        sudo sbuild-createchroot --include=eatmydata,ccache unstable /srv/chroot/unstable-amd64-sbuild http://ftp.us.debian.org/debian
        sudo sbuild-adduser runner
        newgrp sbuild
        sudo sbuild-update -udcar u
        mkdir qbit
        sudo cp sources.list /etc/
        sudo apt update -y
        cd qbit
        sudo apt source qBittorrent
        ls -la
